<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
    <title>HookKeeper</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/javascripts/global.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <h1 id=""><a href="/">HookKeeper</a></h1>
    <% content %>
  </body>
</html>
