<% IF success %>
<h1>SUCCESSFUL SAVE</h1>
<% END %>

<% FOREACH pull IN pulls %>
  <form action="/admin" method="post" accept-charset="utf-8">
    <label for="pull_<% pull.key %>"><% pull.value.make %> <% pull.value.model %></label>
    <input type="hidden" name="pull_id" value="<% pull.key %>">
    <input type="text" name="pull_distance" value="<% pull.value.distance %>" id="pull_<% pull.key %>">
    <input type="submit" value="Update">
  </form>
<% END %>
