Connection Status: <span id="conn-status"> Disconnected </span>

<table border="1" cellspacing="5" cellpadding="5">
  <tr><th>Make</th><th>Model</th><th>Distance</th></tr>
  <% FOREACH pull IN pulls %>
  <tr>
    <td><% pull.value.make %></td>
    <td><% pull.value.model %></td>
    <td id="pull_distance_<% pull.key %>"><% pull.value.distance %></td>
  </tr>
  <% END %>
</table>

